extends ../partials/head
block content
  .all-wrapper
    form.login-form#login-form
      .login-form-title Admin Girişi
      input.login-form-input#password-input(type="password" placeholder="••••••" autofocus autocomplete="none")
      button.login-form-button Giriş Yap
      .login-form-error#form-error
