extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      a.header-logo(href='/')
      .each-header-button
        .each-header-button-inner-wrapper
          .each-header-button-text Hakkımızda
          svg(width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M11.7844 12.8372C12.2471 12.8372 12.7101 12.6606 13.0627 12.3074L22.1043 3.26587C22.8106 2.55949 22.8106 1.41517 22.1043 0.708796C21.3979 0.00242281 20.2536 0.00242281 19.5472 0.708796L11.7844 8.47466L4.01997 0.710208C3.31359 0.0038352 2.16927 0.0038352 1.46289 0.710208C0.756521 1.41658 0.756521 2.56091 1.46289 3.26728L10.5045 12.3089C10.8577 12.662 11.321 12.8372 11.7844 12.8372Z' fill='var(--white)')
        .each-header-button-menu-wrapper
          a.each-header-button-menu-item(href='/about_us' class=(url && url == '/about_us' ? 'each-header-button-menu-item-selected' : '')) Hakkımızda
          a.each-header-button-menu-item(href='/minister' class=(url && url == '/minister' ? 'each-header-button-menu-item-selected' : '')) Bakan
          a.each-header-button-menu-item(href='/president' class=(url && url == '/president' ? 'each-header-button-menu-item-selected' : '')) Başkan
          a.each-header-button-menu-item(href='/vision' class=(url && url == '/vision' ? 'each-header-button-menu-item-selected' : '')) Misyon & Vizyon
          a.each-header-button-menu-item(href='/plan' class=(url && url == '/plan' ? 'each-header-button-menu-item-selected' : '')) Stratejik Plan
          a.each-header-button-menu-item(href='/directory_board' class=(url && url == '/advisory_board' ? 'each-header-button-menu-item-selected' : '')) Yönetim Kurulu
          a.each-header-button-menu-item(href='/rector_board' class=(url && url == '/rector_board' ? 'each-header-button-menu-item-selected' : '')) Rektörler Danışma Kurulu
          a.each-header-button-menu-item(href='/president_concey' class=(url && url == '/president_konsey' ? 'each-header-button-menu-item-selected' : '')) Sağlık, Spor ve Spor Daire Başkanları Konseyi
      .each-header-button
        .each-header-button-inner-wrapper
          .each-header-button-text Mevzuat
          svg(width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M11.7844 12.8372C12.2471 12.8372 12.7101 12.6606 13.0627 12.3074L22.1043 3.26587C22.8106 2.55949 22.8106 1.41517 22.1043 0.708796C21.3979 0.00242281 20.2536 0.00242281 19.5472 0.708796L11.7844 8.47466L4.01997 0.710208C3.31359 0.0038352 2.16927 0.0038352 1.46289 0.710208C0.756521 1.41658 0.756521 2.56091 1.46289 3.26728L10.5045 12.3089C10.8577 12.662 11.321 12.8372 11.7844 12.8372Z' fill='var(--white)')
        .each-header-button-menu-wrapper
          a.each-header-button-menu-item(href='/main_status' class=(url && url == '/main_status' ? 'each-header-button-menu-item-selected' : '')) Ana Statü
          a.each-header-button-menu-item(href='/informations' class=(url && url == '/informations' ? 'each-header-button-menu-item-selected' : '')) Talimatlar
          a.each-header-button-menu-item(href='/forms' class=(url && url == '/forms' ? 'each-header-button-menu-item-selected' : '')) Formlar
          a.each-header-button-menu-item(href='/directions' class=(url && url == '/directions' ? 'each-header-button-menu-item-selected' : '')) Yönergeler
      .each-header-button
        .each-header-button-inner-wrapper
          .each-header-button-text Kurullar
          svg(width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M11.7844 12.8372C12.2471 12.8372 12.7101 12.6606 13.0627 12.3074L22.1043 3.26587C22.8106 2.55949 22.8106 1.41517 22.1043 0.708796C21.3979 0.00242281 20.2536 0.00242281 19.5472 0.708796L11.7844 8.47466L4.01997 0.710208C3.31359 0.0038352 2.16927 0.0038352 1.46289 0.710208C0.756521 1.41658 0.756521 2.56091 1.46289 3.26728L10.5045 12.3089C10.8577 12.662 11.321 12.8372 11.7844 12.8372Z' fill='var(--white)')
        .each-header-button-menu-wrapper
          a.each-header-button-menu-item(href='/coordinators') Koordinatörlükler 
          a.each-header-button-menu-item(href='/audit_board') Denetim Kurulu
          a.each-header-button-menu-item(href='/discipline_board') Disiplin Kurulu
          a.each-header-button-menu-item(href='/legal_board') Hukuk Kurulu
          a.each-header-button-menu-item(href='/medicine_board') Sağlık Kurulu
          a.each-header-button-menu-item(href='/technical_board') Teknik Kurul
          a.each-header-button-menu-item(href='/province_representators') İl Temsilcileri
          a.each-header-button-menu-item(href='/ethical_board') Etik Kurulu
          a.each-header-button-menu-item(href='/education_board') Eğitim Kurulu
          a.each-header-button-menu-item(href='/women_and_sport_board') Kadın ve Spor Kurulu
          a.each-header-button-menu-item(href='/communication_and_press_board') İletişim, Basın ve Yayın Kurulu
          a.each-header-button-menu-item(href='/organisation_board') Organizasyon Kurulu
      .header-seperator
      a.header-language-button(href='/') English
    .all-header-wrapper-responsive
      a.header-logo(href='/')
      a.header-language-button(href='/') English
      .header-seperator
      svg.responsive-header-open-menu-button(width='61' height='43' viewBox='0 0 61 43' fill='none' xmlns='http://www.w3.org/2000/svg')
        rect(x='0.5' y='42.5' width='7' height='60' rx='3.5' transform='rotate(-90 0.5 42.5)' fill='var(--white)')
        rect(x='1' y='7' width='7' height='60' rx='3.5' transform='rotate(-90 1 7)' fill='var(--white)')
        rect(x='1' y='25' width='7' height='60' rx='3.5' transform='rotate(-90 1 25)' fill='var(--white)')
    .all-header-responsive-menu-outer-wrapper(style='display: none')
      .all-header-wrapper-responsive-menu
        .each-header-button-responsive
          .each-header-button-inner-wrapper
            .each-header-button-text Hakkımızda
            svg(width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M11.7844 12.8372C12.2471 12.8372 12.7101 12.6606 13.0627 12.3074L22.1043 3.26587C22.8106 2.55949 22.8106 1.41517 22.1043 0.708796C21.3979 0.00242281 20.2536 0.00242281 19.5472 0.708796L11.7844 8.47466L4.01997 0.710208C3.31359 0.0038352 2.16927 0.0038352 1.46289 0.710208C0.756521 1.41658 0.756521 2.56091 1.46289 3.26728L10.5045 12.3089C10.8577 12.662 11.321 12.8372 11.7844 12.8372Z' fill='var(--black)')
          .each-header-button-menu-wrapper-responsive
            a.each-header-button-menu-item(href='/about_us' class=(url && url == '/about_us' ? 'each-header-button-menu-item-selected' : '')) Hakkımızda
            a.each-header-button-menu-item(href='/minister' class=(url && url == '/minister' ? 'each-header-button-menu-item-selected' : '')) Bakan
            a.each-header-button-menu-item(href='/president' class=(url && url == '/president' ? 'each-header-button-menu-item-selected' : '')) Başkan
            a.each-header-button-menu-item(href='/vision' class=(url && url == '/vision' ? 'each-header-button-menu-item-selected' : '')) Misyon & Vizyon
            a.each-header-button-menu-item(href='/plan' class=(url && url == '/plan' ? 'each-header-button-menu-item-selected' : '')) Stratejik Plan
            a.each-header-button-menu-item(href='/directory_board' class=(url && url == '/advisory_board' ? 'each-header-button-menu-item-selected' : '')) Yönetim Kurulu
            a.each-header-button-menu-item(href='/rector_board' class=(url && url == '/rector_board' ? 'each-header-button-menu-item-selected' : '')) Rektörler Danışma Kurulu
            a.each-header-button-menu-item(href='/president_concey' class=(url && url == '/president_konsey' ? 'each-header-button-menu-item-selected' : '')) Sağlık, Spor ve Spor Daire Başkanları Konseyi
        .each-header-button-responsive
          .each-header-button-inner-wrapper
            .each-header-button-text Mevzuat
            svg(width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M11.7844 12.8372C12.2471 12.8372 12.7101 12.6606 13.0627 12.3074L22.1043 3.26587C22.8106 2.55949 22.8106 1.41517 22.1043 0.708796C21.3979 0.00242281 20.2536 0.00242281 19.5472 0.708796L11.7844 8.47466L4.01997 0.710208C3.31359 0.0038352 2.16927 0.0038352 1.46289 0.710208C0.756521 1.41658 0.756521 2.56091 1.46289 3.26728L10.5045 12.3089C10.8577 12.662 11.321 12.8372 11.7844 12.8372Z' fill='var(--black)')
          .each-header-button-menu-wrapper-responsive
            a.each-header-button-menu-item(href='/main_status' class=(url && url == '/main_status' ? 'each-header-button-menu-item-selected' : '')) Ana Statü
            a.each-header-button-menu-item(href='/informations' class=(url && url == '/informations' ? 'each-header-button-menu-item-selected' : '')) Talimatlar
            a.each-header-button-menu-item(href='/forms' class=(url && url == '/forms' ? 'each-header-button-menu-item-selected' : '')) Formlar
            a.each-header-button-menu-item(href='/directions' class=(url && url == '/directions' ? 'each-header-button-menu-item-selected' : '')) Yönergeler
        .each-header-button-responsive
          .each-header-button-inner-wrapper
            .each-header-button-text Kurullar
            svg(width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M11.7844 12.8372C12.2471 12.8372 12.7101 12.6606 13.0627 12.3074L22.1043 3.26587C22.8106 2.55949 22.8106 1.41517 22.1043 0.708796C21.3979 0.00242281 20.2536 0.00242281 19.5472 0.708796L11.7844 8.47466L4.01997 0.710208C3.31359 0.0038352 2.16927 0.0038352 1.46289 0.710208C0.756521 1.41658 0.756521 2.56091 1.46289 3.26728L10.5045 12.3089C10.8577 12.662 11.321 12.8372 11.7844 12.8372Z' fill='var(--black)')
          .each-header-button-menu-wrapper-responsive
            a.each-header-button-menu-item(href='/coordinators') Koordinatörlükler 
            a.each-header-button-menu-item(href='/audit_board') Denetim Kurulu
            a.each-header-button-menu-item(href='/discipline_board') Disiplin Kurulu
            a.each-header-button-menu-item(href='/legal_board') Hukuk Kurulu
            a.each-header-button-menu-item(href='/medicine_board') Sağlık Kurulu
            a.each-header-button-menu-item(href='/technical_board') Teknik Kurul
            a.each-header-button-menu-item(href='/province_representators') İl Temsilcileri
            a.each-header-button-menu-item(href='/ethical_board') Etik Kurulu
            a.each-header-button-menu-item(href='/education_board') Eğitim Kurulu
            a.each-header-button-menu-item(href='/women_and_sport_board') Kadın ve Spor Kurulu
            a.each-header-button-menu-item(href='/communication_and_press_board') İletişim, Basın ve Yayın Kurulu
            a.each-header-button-menu-item(href='/organisation_board') Organizasyon Kurulu
    .all-content-outer-wrapper
      .all-content-wrapper
        block main
      .all-footer-wrapper
        .all-footer-inner-wrapper
          .each-footer-item-wrapper
            a.footer-logo(href='/') 
            .each-footer-info
              svg.each-footer-info-icon(width='27' height='21' viewBox='0 0 27 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M0 3.75C0 1.88584 1.51084 0.375 3.375 0.375H23.625C25.4865 0.375 27 1.88584 27 3.75V17.25C27 19.1115 25.4865 20.625 23.625 20.625H3.375C1.51084 20.625 0 19.1115 0 17.25V3.75ZM2.53125 3.75V4.91543L11.6279 12.3826C12.7143 13.2791 14.2857 13.2791 15.3721 12.3826L24.4688 4.91543V3.70254C24.4688 3.28594 24.0891 2.85879 23.625 2.85879H3.375C2.90883 2.85879 2.53125 3.28594 2.53125 3.70254V3.75ZM2.53125 8.19023V17.25C2.53125 17.7141 2.90883 18.0938 3.375 18.0938H23.625C24.0891 18.0938 24.4688 17.7141 24.4688 17.25V8.19023L16.9805 14.3391C14.9555 16.0002 12.0445 16.0002 9.97207 14.3391L2.53125 8.19023Z' fill='var(--white)')
              .each-footer-info-text tusf@tusf.org.tr
            .each-footer-info
              svg.each-footer-info-icon(width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M25.6933 16.3367L25.0876 20.9574C25.003 21.6106 24.466 22.1143 23.7815 22.1812C12.0091 23.3315 1.45854 15.0773 0.259119 3.77717C0.189426 3.12057 0.594982 2.51344 1.24451 2.30284L5.83749 0.801554C6.50631 0.582198 7.24246 0.855039 7.59319 1.44985L10.2797 6.09712C10.5942 6.6447 10.4938 7.32834 10.034 7.77063L7.7272 9.95251C9.64184 12.8977 12.5355 15.1616 15.928 16.3685L17.7291 13.7577C18.0833 13.2352 18.7655 12.9997 19.3882 13.1893L24.6721 14.7773C25.3137 15.0252 25.7826 15.6672 25.6933 16.3367Z' fill='var(--white)')
              .each-footer-info-text 0312 310 50 43
            .each-footer-info
              svg.each-footer-info-icon(width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M25.6933 16.3367L25.0876 20.9574C25.003 21.6106 24.466 22.1143 23.7815 22.1812C12.0091 23.3315 1.45854 15.0773 0.259119 3.77717C0.189426 3.12057 0.594982 2.51344 1.24451 2.30284L5.83749 0.801554C6.50631 0.582198 7.24246 0.855039 7.59319 1.44985L10.2797 6.09712C10.5942 6.6447 10.4938 7.32834 10.034 7.77063L7.7272 9.95251C9.64184 12.8977 12.5355 15.1616 15.928 16.3685L17.7291 13.7577C18.0833 13.2352 18.7655 12.9997 19.3882 13.1893L24.6721 14.7773C25.3137 15.0252 25.7826 15.6672 25.6933 16.3367Z' fill='var(--white)')
              .each-footer-info-text 0312 310 88 88
          .each-footer-item-wrapper
            .each-footer-title Federasyon Banka Hesap Bilgileri
            .each-footer-item-line
              .each-footer-item-title BANKA
              .each-footer-item-text Türkiye Ekonomi Bankası (TEB) Söğütözü Şubesi (682)
            .each-footer-item-line
              .each-footer-item-title HESAP ADI
              .each-footer-item-text MİLLİLİK BELGESİ
            .each-footer-item-line
              .each-footer-item-title IBAN
              .each-footer-item-text TR65 0003 2000 0000 0096 3625 28
          .each-footer-item-wrapper
            .each-footer-title İtiraz için Banka Hesap Bilgileri
            .each-footer-item-line
              .each-footer-item-title BANKA
              .each-footer-item-text Türkiye Ekonomi Bankası (TEB) Söğütözü Şubesi (682)
            .each-footer-item-line
              .each-footer-item-title IBAN
              .each-footer-item-text TR30 0003 2000 0000 0096 3094 20
          .each-footer-item-wrapper
            a.each-footer-link(href='') KVKK Aydınlatma Metni
            a.each-footer-link(href='') KVKK Açık Rıza Beyanı
            a.each-footer-link(href='') Bilgi Güvenliği Politikamız
            a.each-footer-link(href='') Bilgi Edinme
            a.each-footer-link(href='') KVKK Başvuru Formu
            a.each-footer-link(href='') İletişim
        .all-footer-copyright Copyright #{(new Date()).getFullYear()} - LOY Yazılım
