:root {
  --ministry-logo-width: 229px;
  --ministry-logo-height: 76.33px;
  --start-page-title-font-size: 80px;
  --start-page-title-line-height: 80px;
  --start-page-subtitle-font-size: 40px;
  --start-page-subtitle-line-height: 50px;
  --each-sponsor-width: 160px;
  --each-sponsor-height: 100px;
  --anouncement-title-font-size: 37px;
  --anouncement-title-line-height: 45px;
  --announcement-image-height: 250px;
  --other-announcement-height: 160px;
  --other-announcement-width: 250px;
  --big-number-font-size: 55px;
  --number-icon-height: 60px;
  --number-text-font-size: 45px;
}

.all-header-wrapper, .all-header-wrapper-responsive {
  background-color: transparent;
  box-shadow: none;
}

.start-page-wrapper {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  z-index: 2;
  background: linear-gradient(138.54deg, rgba(0, 0, 0, 0.9) -12.48%, rgba(1, 1, 1, 0.81) 49.04%, rgba(1, 1, 1, 0.72) 100%), linear-gradient(0deg, rgba(227, 53, 48, 0.02), rgba(227, 53, 48, 0.02)), url('/res/images/landing/background.webp'), url('/res/images/landing/background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--page-padding);
}

.start-page-ministry-logo {
  width: var(--ministry-logo-width);
  height: var(--ministry-logo-height);
  background-image: url('/res/images/landing/gsb_logo.png');
  background-size: cover;
}
.start-page-title {
  color: var(--white);
  font-weight: 800;
  font-size: var(--start-page-title-font-size);
  line-height: var(--start-page-title-line-height);
}
.start-page-subtitle {
  color: var(--white);
  font-weight: 500;
  font-size: var(--start-page-subtitle-font-size);
  line-height: var(--start-page-subtitle-line-height);
}
.start-page-button {
  z-index: 9;
  position: absolute;
  bottom: calc(var(--page-padding) / 2);
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  cursor: pointer;
}
.start-page-button:hover {
  opacity: 1;
}
.start-page-button-icon {
  width: var(--subtitle-font-size);
}

.all-content-outer-wrapper {
  z-index: 2;
  background-color: transparent;
  padding-top: 100vh;
  margin-top: -100vh;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.all-content-wrapper {
  background-color: var(--white);
}

.sponsor-wrapper {
  width: 100vw;
  height: calc(var(--each-sponsor-height) + var(--small-distance));
  min-height: calc(var(--each-sponsor-height) + var(--small-distance));
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-width) solid var(--red);
  margin-bottom: var(--page-padding);
}
.each-sponsor {
  margin: 0 calc(var(--page-padding) / 4);
  width: var(--each-sponsor-width);
  height: var(--each-sponsor-height);
  background-size: cover;
  cursor: pointer;
}

.announcement-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  padding: 0 var(--page-padding);
  margin-bottom: var(--page-padding);
}
.announcements-title {
  font-size: var(--subtitle-font-size);
  font-weight: 400;
  color: var(--black);
  margin-bottom: calc(var(--page-padding) / 4);
}
.announcement-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.announcement-image {
  height: 100%;
  width: 50%;
  min-width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.announcement-info-wrapper {
  height: fit-content;
  width: calc(50% - (var(--page-padding) / 2));
  min-width: calc(50% - (var(--page-padding) / 2));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: var(--border-width) solid var(--border-color);
  padding-left: calc(var(--page-padding) / 2);
}
.announcement-title {
  color: var(--black);
  font-weight: 700;
  font-size: var(--anouncement-title-font-size);
  line-height: var(--anouncement-title-line-height);
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.announcement-date {
  color: var(--light-black);
  font-weight: 500;
  font-size: var(--text-font-size);
  margin: var(--small-distance) 0;
  margin-left: auto;
  min-height: fit-content;
}
.announcement-text {
  color: var(--black);
  font-weight: 400;
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-line-height);
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.announcement-buttons-wrapper {
  margin-top: var(--small-distance);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.announcement-details-button {
  color: var(--blue);
  font-weight: 600;
  font-size: var(--subtitle-font-size);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.announcement-details-button:hover {
  text-decoration: underline;
}
.all-announcements-button {
  color: var(--red);
  display: flex;
  align-items: center;
  text-decoration: none;
}
.all-announcements-button-text {
  color: var(--red);
  font-weight: 600;
  font-size: var(--subtitle-font-size);
  margin-right: var(--small-distance);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.all-announcements-button:hover {
  text-decoration: underline;
}
.all-announcements-button-icon {
  margin-bottom: auto;
  height: var(--text-font-size);
  width: auto;
}

.other-announcements-wrappers {
  display: flex;
  overflow-x: scroll;
  margin-bottom: calc(2 * var(--page-padding));
  width: 100vw;
  padding: 0 var(--page-padding);
  height: var(--other-announcement-height);
  min-height: var(--other-announcement-height);
}
.each-other-announcement {
  min-width: calc(max(var(--other-announcement-width), (100vw - (2 * var(--page-padding))) / 5 - (4 * var(--small-distance))));
  width: calc(max(var(--other-announcement-width), (100vw - (2 * var(--page-padding))) / 5 - (4 * var(--small-distance))));
  height: var(--other-announcement-height);
  min-height: var(--other-announcement-height);
  margin-right: var(--small-distance);
  overflow: hidden;
  cursor: pointer;
}
.each-other-announcement-background {
  width: 100%;
  height: var(--other-announcement-height);
  min-height: var(--other-announcement-height);
  background-size: cover;
  background-position: center;
}
.each-other-announcement-background-hovered {
  width: calc(100% + 20px) !important;
  min-width: calc(100% + 20px) !important;
  margin-left: -10px !important;
  height: calc(var(--other-announcement-height) + 20px) !important;
  min-height: calc(var(--other-announcement-height) + 20px) !important;
  margin-top: -10px !important;
}
.each-other-announcement-info-wrapper {
  margin-top: calc(-1 * var(--other-announcement-height));
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(1, 1, 1, 0.6));
  display: flex;
  flex-direction: column;
  padding: var(--small-distance);
}
.each-other-announcement-title {
  margin-top: auto;
  color: var(--white);
  font-weight: 700;
  font-size: var(--text-font-size);
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
.each-other-announcement-date {
  margin-top: 2px;
  color: var(--white);
  font-weight: 500;
  font-size: var(--small-text-font-size);
}

.number-titles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--page-padding);
}
.each-number-title {
  font-weight: 700;
  font-size: var(--big-number-font-size);
  margin-bottom: calc(var(--page-padding) / 2);
  text-align: center;
}
.highlighted-red {
  color: var(--green) !important;
  text-shadow: 0 0 var(--bold-border-width) var(--green-highlight);
}
.highlighted-blue {
  color: var(--blue) !important;
  text-shadow: 0 0 var(--bold-border-width) var(--blue-highlight);
}
.highlighted-yellow {
  color: var(--yellow) !important;
  text-shadow: 0 0 var(--bold-border-width) var(--yellow-highlight);
}

.numbers-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: var(--page-padding);
  grid-row-gap: var(--page-padding);
  padding: 0 var(--page-padding);
}
.each-number-wrapper {
  height: calc((100vw - (5 * var(--page-padding))) / 4);
  border: var(--bold-border-width) solid var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.each-number-icon {
  width: auto;
  height: var(--number-icon-height);
  margin-bottom: calc(var(--page-padding) / 2);
}
.each-number-text {
  color: var(--black);
  font-weight: 700;
  font-size: var(--number-text-font-size);
  margin-bottom: calc(var(--small-distance) / 2);
}
.each-number-info {
  color: var(--blue);
  font-weight: 500;
  font-size: var(--subtitle-font-size);
}

.see-all-numbers-button {
  margin-right: var(--page-padding);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(2 * var(--page-padding));
  margin-top: var(--page-padding);
  cursor: pointer;
  opacity: 0.9;
  text-decoration: none;
}
.see-all-numbers-button:hover {
  opacity: 1;
}
.see-all-numbers-text {
  color: var(--blue);
  font-weight: 600;
  font-size: var(--text-font-size);
  margin-right: var(--small-distance);
}
.see-all-numbers-icon {
  height: var(--text-font-size);
  width: auto;
}

@media only screen and (max-width: 900px) {
  :root {
    --ministry-logo-width: 152.67px;
    --ministry-logo-height: 50.89px;
    --start-page-title-font-size: 65px;
    --start-page-title-line-height: 75px;
    --start-page-subtitle-font-size: 30px;
    --start-page-subtitle-line-height: 35px;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --start-page-title-font-size: 50px;
    --start-page-title-line-height: 65px;
    --start-page-subtitle-font-size: 25px;
    --start-page-subtitle-line-height: 30px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --start-page-title-font-size: 40px;
    --start-page-title-line-height: 50px;
    --start-page-subtitle-font-size: 20px;
    --start-page-subtitle-line-height: 30px;
  }
}
@media only screen and (max-width: 450px) {
  :root {
    --ministry-logo-width: 114.5px;
    --ministry-logo-height: 38.17px;
    --start-page-title-font-size: 30px;
    --start-page-title-line-height: 40px;
    --start-page-subtitle-font-size: 16px;
    --start-page-subtitle-line-height: 25px;
  }
}
@media only screen and (max-width: 350px) {
  :root {
    --start-page-title-font-size: 25px;
    --start-page-title-line-height: 35px;
    --start-page-subtitle-font-size: 16px;
    --start-page-subtitle-line-height: 25px;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --each-sponsor-width: 120px;
    --each-sponsor-height: 75px;
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --each-sponsor-width: 106.67px;
    --each-sponsor-height: 66.67px;
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --each-sponsor-width: 80px;
    --each-sponsor-height: 50px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --each-sponsor-width: 64px;
    --each-sponsor-height: 40px;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --each-sponsor-width: 80px;
    --each-sponsor-height: 50px;
  }
  .sponsor-wrapper {
    height: fit-content;
    min-height: fit-content;
    padding: var(--small-distance);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--small-distance);
  }
  .each-sponsor {
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 350px) {
  :root {
    --each-sponsor-width: 64px;
    --each-sponsor-height: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    --anouncement-title-font-size: 30px;
    --anouncement-title-line-height: 40px;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --anouncement-title-font-size: 25px;
    --anouncement-title-line-height: 35px;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    --anouncement-title-font-size: 30px;
    --anouncement-title-line-height: 40px;
  }
  .announcement-details {
    flex-direction: column;
  }
  .announcement-image {
    width: 100%;
    min-width: 100%;
    height: var(--announcement-image-height);
    min-height: var(--announcement-image-height);
    margin-bottom: var(--page-padding);
  }
  .announcement-info-wrapper {
    border: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --anouncement-title-font-size: 25px;
    --anouncement-title-line-height: 35px;
    --announcement-image-height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --big-number-font-size: 40px;
  }
}
@media only screen and (max-width: 400px) {
  :root {
    --big-number-font-size: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    --number-icon-height: 50px;
    --number-text-font-size: 35px;
  }
  .each-number-icon {
    margin-bottom: var(--small-distance);
  }
}
@media only screen and (max-width: 900px) {
  .numbers-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .each-number-wrapper {
    height: calc((100vw - (4 * var(--page-padding))) / 3);
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --number-icon-height: 50px;
    --number-text-font-size: 35px;
  }
  .numbers-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .each-number-wrapper {
    height: calc((100vw - (3 * var(--page-padding))) / 2);
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --number-icon-height: 40px;
    --number-text-font-size: 30px;
  }
  .each-number-info {
    font-size: var(--text-font-size);
  }
}
@media only screen and (max-width: 400px) {
  :root {
    --number-icon-height: 30px;
    --number-text-font-size: 25px;
  }
}
@media only screen and (max-width: 350px) {
  :root {
    --number-icon-height: 50px;
    --number-text-font-size: 35px;
  }
  .numbers-wrapper {
    grid-template-columns: 1fr;
  }
  .each-number-wrapper {
    height: calc((100vw - (2 * var(--page-padding))));
  }
}
