:root {
  --old-site-redirect-button-wrapper-height: 30px;
  --header-logo-size: 60px;
  --header-button-height: 40px;
  --header-menu-width: 250px;
  --responsive-header-menu-width: 250px;
  --responsive-header-menu-height: 350px;
  --footer-logo-size: 150px;
  --footer-item-width: 320px;
  --footer-item-title-width: 85px;
}

.old-site-redirect-button-wrapper {
  height: var(--old-site-redirect-button-wrapper-height);
  min-height: var(--old-site-redirect-button-wrapper-height);
  width: 100vw;
  min-width: 100vw;
  padding: 0 var(--page-padding);
  background-color: var(--black);
  position: fixed;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}
.old-site-redirect-button {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.old-site-redirect-button:hover {
  text-decoration: underline;
}

.all-wrapper {
  margin-top: var(--old-site-redirect-button-wrapper-height);
  width: 100vw;
  height: calc(100vh - var(--old-site-redirect-button-wrapper-height));
  min-height: calc(100vh - var(--old-site-redirect-button-wrapper-height));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.all-header-wrapper {
  position: fixed;
  z-index: 10;
  top: var(--old-site-redirect-button-wrapper-height);
  left: 0;
  width: 100vw;
  height: var(--header-height);
  max-height: var(--header-height);
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 var(--page-padding);
  background-color: var(--red);
  box-shadow: 0 0 var(--shadow-width) var(--shadow-color);
}
.all-header-wrapper-responsive {
  position: fixed;
  z-index: 10;
  top: var(--old-site-redirect-button-wrapper-height);
  left: 0;
  width: 100vw;
  height: var(--header-height);
  max-height: var(--header-height);
  min-height: var(--header-height);
  display: none;
  align-items: center;
  padding: 0 var(--page-padding);
  background-color: var(--red);
  box-shadow: 0 0 var(--shadow-width) var(--shadow-color);
}
.responsive-header-open-menu-button {
  width: var(--subtitle-font-size);
  margin-left: calc(var(--page-padding) / 2);
  cursor: pointer;
}
.all-header-responsive-menu-outer-wrapper {
  position: absolute;
  top: calc(var(--header-height) + var(--old-site-redirect-button-wrapper-height));
  right: 0;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 12;
  background-color: rgba(1, 1, 1, 0.03);
}
.all-header-wrapper-responsive-menu {
  width: calc(min(100vw - var(--page-padding), var(--responsive-header-menu-width)));
  min-height: calc(min(var(--responsive-header-menu-height), 100vh - var(--header-height)));
  max-height: calc(100vh - var(--header-height));
  background-color: var(--white);
  border-left: var(--bold-border-width) solid var(--border-color);
  border-bottom: var(--bold-border-width) solid var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  overflow: scroll;
}

.header-logo {
  width: var(--header-logo-size);
  min-width: var(--header-logo-size);
  height: var(--header-logo-size);
  background-size: cover;
  background-image: url('/res/images/logo.png');
  margin-right: auto;
}
.each-header-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: var(--header-button-height);
  max-height: var(--header-button-height);
  margin-right: calc(var(--page-padding) / 2);
  overflow: visible;
  text-decoration: none;
  z-index: 2;
}
.each-header-button-responsive {
  height: var(--header-button-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.each-header-button-responsive-opened {
  height: fit-content !important;
  min-height: fit-content !important;
}
.each-header-button-inner-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--header-button-height);
  min-height: var(--header-button-height);
}
.each-header-button-text {
  color: var(--white);
  font-size: var(--subtitle-font-size);
  font-weight: 600;
  margin-right: var(--small-distance);
}
.each-header-button-inner-wrapper svg {
  width: var(--text-font-size);
  height: auto;
}
.each-header-button-menu-wrapper {
  position: absolute;
  background-color: var(--white);
  box-shadow: 0 0 var(--shadow-width) var(--light-black);
  margin-top: var(--header-button-height);
  width: var(--header-menu-width);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: none;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
  overflow: hidden;
}
.each-header-button-menu-wrapper-hovered {
  display: flex !important;
}
.each-header-button-menu-wrapper-responsive {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  min-height: fit-content;
}
.each-header-button-menu-item {
  color: var(--black);
  text-decoration: none;
  font-size: var(--text-font-size);
  font-weight: 500;
  padding: var(--small-distance) calc(var(--page-padding) / 3);
  background-color: var(--white);
}
.each-header-button-menu-item-selected {
  background-color: var(--hover-color) !important;
  cursor: default !important;
}
.each-header-button-menu-item:hover {
  background-color: var(--hover-color);
}

.header-seperator {
  height: calc(var(--header-height) - 30px);
  width: var(--bold-border-width);
  border-radius: var(--border-radius);
  background-color: var(--white);
}

.header-language-button {
  margin-left: calc(var(--page-padding) / 2);
  text-decoration: none;
  color: var(--white);
  font-size: var(--subtitle-font-size);
  font-weight: 600;
}

.all-content-outer-wrapper {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  overflow-y: scroll;
}

.all-content-wrapper {
  min-height: fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.all-footer-wrapper {
  margin-top: auto;
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  padding: var(--page-padding);
}

.all-footer-inner-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.each-footer-item-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--footer-item-width);
  height: fit-content;
  min-height: fit-content;
}

.footer-logo {
  background-image: url('/res/images/logo.png');
  background-size: cover;
  width: var(--footer-logo-size);
  min-width: var(--footer-logo-size);
  height: var(--footer-logo-size);
}
.footer-logo-text-wrapper {
  display: flex;
  flex-direction: column;
}
.each-footer-info {
  margin-top: calc(var(--page-padding) / 4);
  display: flex;
  align-items: center; 
}
.each-footer-info-icon {
  margin-right: var(--small-distance);
  width: var(--text-font-size);
  height: auto;
}
.each-footer-info-text {
  color: var(--white);
  font-weight: 500;
  font-size: var(--text-font-size);
}

.each-footer-title {
  color: var(--white);
  font-weight: 600;
  font-size: var(--text-font-size);
}
.each-footer-item-line {
  margin-top: calc(var(--page-padding) / 4);
  display: flex;
  align-items: flex-start;
}
.each-footer-item-title {
  width: var(--footer-item-title-width);
  min-width: var(--footer-item-title-width);
  margin-right: var(--small-distance);
  margin-top: 2px;
  color: var(--white);
  font-weight: 600;
  font-size: var(--text-font-size);
}
.each-footer-item-text {
  width: calc(var(--footer-item-width) - var(--footer-item-title-width) - var(--small-distance));
  min-width: calc(var(--footer-item-width) - var(--footer-item-title-width) - var(--small-distance));
  color: var(--white);
  font-weight: 400;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
}

.each-footer-link {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--text-font-size);
  margin-left: auto;
  margin-bottom: calc(var(--page-padding) / 4);
  text-align: right;
}
.each-footer-link:hover {
  margin-bottom: calc((var(--page-padding) / 4) - var(--bold-border-width));
  border-bottom: var(--bold-border-width) solid var(--white);
}

.all-footer-copyright {
  margin-left: auto;
  margin-top: calc(var(--page-padding) / 2);
  color: var(--white);
  font-weight: 500;
  font-size: var(--text-font-size);
}

@media only screen and (max-width: 800px) {
  :root {
    --header-menu-width: 200px;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --header-button-height: 50px
  }
  .all-header-wrapper {
    display: none;
  }
  .all-header-wrapper-responsive {
    display: flex;
  }
  .header-language-button {
    margin-left: 0;
    margin-right: calc(var(--page-padding) / 2);
  }
  .each-header-button-text {
    color: var(--black);
  }
  .each-header-button-inner-wrapper {
    cursor: pointer;
    padding: 0 calc(var(--page-padding));
    justify-content: flex-end;
  }
  .each-header-button-inner-wrapper:hover {
    background-color: var(--hover-color);
  }
  .each-header-button-menu-item  {
    text-align: right;
    width: 100%;
  }
}

@media only screen and (max-width: 1150px) {
  :root {
    --footer-logo-size: 90px;
    --footer-item-width: 250px;
    --footer-item-title-width: 60px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {
  :root {
    --footer-item-width: 220px; 
  }
  .each-footer-item-line {
    flex-direction: column;
  }
  .each-footer-item-title  {
    margin-bottom: 2px;
    width: 100%;
  }
  .each-footer-item-text {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --footer-item-width: 180px; 
  }
}
@media only screen and (max-width: 800px) {
  :root {
    --footer-item-width: calc(50vw - (1.5 * var(--page-padding)));
    --footer-item-title-width: 90px; 
  }
  .each-footer-item-wrapper {
    min-width: auto;
    width: auto;
  }
  .each-footer-item-line {
    width: fit-content;
    min-width: fit-content;
  }
  .all-footer-inner-wrapper  {
    margin-bottom: var(--page-padding);
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: var(--page-padding);
  }
  .footer-logo-wrapper {
    display: flex;
    flex-direction: row;
  }
  .footer-logo-text-wrapper {
    margin-left: var(--small-distance);
  }
  .each-footer-link {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: var(--small-distance);
    text-align: left;
  }
  .each-footer-link:hover {
    margin-bottom: calc(var(--small-distance) - var(--bold-border-width));
  }
  .all-footer-copyright {
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .footer-logo-wrapper {
    flex-direction: column;
  }
  .footer-logo-text-wrapper {
    margin-left: 0;
  }
  .each-footer-item-line {
    flex-direction: column;
  }
  .each-footer-item-title  {
    margin-bottom: 2px;
    width: 100%;
  }
  .each-footer-item-text {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .all-footer-inner-wrapper {
    display: flex;
    flex-direction: column;
  }
  .each-footer-item-wrapper {
    width: calc(100vw - (2 * var(--page-padding))) !important;
    min-width: calc(100vw - (2 * var(--page-padding))) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .each-footer-link {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .each-footer-item-line {
    flex-direction: row;
  }
  .each-footer-item-title {
    width: var(--footer-item-title-width);
    min-width: var(--footer-item-title-width);
  }
  .each-footer-item-text {
    flex: 1;
    width: calc(100vw - var(--footer-item-title-width) - (2 * var(--page-padding)));
  }
}
